.view-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.edit-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.delete-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: separate;
    border-spacing: 0 1rem;
    
}

.action {
    width: 30%;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.user_name, .title_name {
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}


.action_buttons {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}
