$text-color: black; 

.userinfo_container {
    margin-top: 1rem;

    .form, .serinfo_label {
        color: $text-color;
    }

    .input {
        display: flex;
        flex-direction: row;
    }

    .userinfo_label {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }

    .userinfo_btn, .reset_btn {
        height: 3rem;
        margin: 1rem 4rem;   
    }
}
