$text-color: black; 

.adduser_container {
    margin-top: 1rem;

    .form, .adduser_label {
        color: $text-color;
    }

    .input {
        display: flex;
        flex-direction: row;
    }

    .adduser_label {
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }

    .btn_add, .reset_add {
        height: 3rem;
        margin: 1rem 4rem;   
    }
}
