.container {
    margin-top: 1rem;
}

.form, label {
    color: black;
}

.input {
    display: flex;
    flex-direction: row;
}


label {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.btn_add {
    height: 3rem;
    margin: 1rem 11rem;   
}