.container {
    margin-top: 1rem;
}

.form, .adduser_label {
    color: black;
}

.input {
    display: flex;
    flex-direction: row;
}


.adduser_label {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.btn_add, .reset_add {
    height: 3rem;
    margin: 1rem 4rem;   
}